@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.prueba:hover {
  display: block;
}
.texto {
  font-family: "Raleway", sans-serif;
}
iframe {
  width: 100%;
  height: 45rem;
}
.colorVerde {
  color: #216869;
}
.fondoVerde2 {
  background-color: #9cc5a1;
}
.fondoVerde1 {
  background-color: #216869;
}
html {
  scroll-behavior: smooth;
}
.imgFondo {
  background-image: url(../img/imgfondo/5.jpg);
}
.fBasis {
  flex-basis: 0;
}
.link {
  text-decoration: underline;
  color: #216869;
  font-weight: bold;
}
.splide__slide img {
  width: 100%;
  height: auto;
}
